<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.universal.servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.universal.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otpServlet</servlet-name>
        <servlet-class>com.universal.servlet.otpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePwordServlet</servlet-name>
        <servlet-class>com.universal.servlet.updatePwordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.universal.servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <servlet-class>com.universal.servlet.UpdateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.universal.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccount</servlet-name>
        <servlet-class>com.universal.servlet.ActivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccountUser</servlet-name>
        <servlet-class>com.universal.servlet.ActivateAccountUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>com.universal.servlet.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journeyServlet</servlet-name>
        <servlet-class>com.universal.servlet.journeyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otpServlet</servlet-name>
        <url-pattern>/otpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePwordServlet</servlet-name>
        <url-pattern>/updatePwordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <url-pattern>/UpdateDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccount</servlet-name>
        <url-pattern>/ActivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccountUser</servlet-name>
        <url-pattern>/ActivateAccountUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journeyServlet</servlet-name>
        <url-pattern>/journeyServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
